*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     /*1rem = 10px*/
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* Globales */
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}  
body{
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor_nav {
    
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width: 1250px) {
    .contenedor_nav {
    
        width: 70%;
        margin: 0 auto;
        display: block;
        text-align: center;
        
    }
}

@media (max-width: 610px) {
    .contenedor_nav {
    
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
        
    }
}

.logo {   
    font-size: 2rem; 
}

.navegacion_a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    
}

.iconitos {
    margin-top: 1rem;
}

/*banner*/

#banner{
    background-color: #ffbf00;
    
    
}

.conteiner1{
    width: 70%;
    margin: 0 auto;
}


.info {
    display: flex;
    height: 60rem;
    align-items: center;
    justify-content: space-between;   
}

@media (max-width: 1250px) {
    .info {
        display: block;
        height: auto;
        padding-bottom: 10rem;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        background-color: #ffbf00;
    }
    .foto {
        display: block;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 3rem;
        
        
             
    }
    
}

@media (max-width: 610px) {
    .conteiner1{
        width: 100%;
        margin: 0 auto;
        background-color: #ffbf00;
    }
    
}

img{
    width: 37rem;
    height: 37rem;  
 }


.foto {
    display: block;
    border-radius: 50%;
    
    margin-top: 3rem;
    
    
         
}


.info_perso{
    padding-left: 2.5rem;
}


.info_perso h1 {
    
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.info_perso h4 {
    padding-bottom: 3.5rem;
}

.btn1 {
    padding: 1.4rem;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 15px;  
}

.btn2 {
    padding: 0 20px;
    color: black;
    font-size: 17px;
}

.dev{
    font-weight: 900;
    font-size: 6.5rem;
    text-transform: uppercase;
    line-height: 1.4;
}

.bgc3{
    background-color: rgb(236, 230, 223);
    height: 60rem;
    
}

.conteiner2{
    width: 70%;
    margin: 0 auto;
    
}

.parte_sup{
    
    padding-top: 35px;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.parte_sup h2{
    font-size: 4rem ;
}

.btn_flot{
    
    text-decoration: none;
    color: black;
    background-color: #ffbf00;  
    padding: 0.5rem;
}

.contInfo1{
    display: flex;
    justify-content: space-between;   
}

@media (max-width: 610px) {
    .conteiner2{
        width: 100%;
        margin: 0 auto;
        
    }
}

@media (max-width: 1250px) {
    .contInfo1{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;   
    }
    .bgc3{
        background-color: rgb(236, 230, 223);
        height: auto;
        padding-bottom: 10rem;
        
    }
    .info_exp{
        margin-top: 5rem;
        text-align: center;
    }
}

.info_2{
    width: 50%;
    line-height: 1.5;
    margin-top: 3rem;
}

.nombre_dif{
    font-weight: 900;
    border-bottom: solid 1.5px;
    border-color: #ffbf00;
}

.info_exp{
    text-align: center;
}



.info_exp h1{
    
    background-color: #ffbf00;
    border-radius: 50%;
    text-align: center;
    font-size: 8rem;
    line-height: 1.5;
}


/*seccion3 */

.conteiner3{
    
    background-color: white;
}

.servicio {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10rem;
    padding: 3rem;
}

@media (max-width: 1250px) {
    .servicio {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10rem;
        padding: 3rem;
    }
    
}

@media (max-width: 610px) {
    .servicio {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10rem;
        padding: 3rem;
    }
    
}

/*seccion 4*/

.conteiner4{
   background-color: rgb(236, 230, 223);
}

.parte_sup h1{
    margin-bottom: 5rem;
}

.aside{
    
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}

@media (max-width: 1250px) {
    .aside{
    
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5rem;
    }
}

@media (max-width: 610px) {
    .aside{
    
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5rem;
    }
}

.aside_stile{
    text-decoration: none;
}

.aside_stile h1{
    margin-bottom: 1rem;
}

.aside_stile li{
    list-style-type: none;
    border-left: solid 2px ;
    padding-left: 1rem;
    border-color:#ffbf00;
    line-height: 1.5;
    
}

/*seccion 5*/

.bgc{
    width: 70%;
    margin: 0 auto; 

}

.conteiner5{  
    background-color: rgb(236, 230, 223);
}




.prog_flex{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    .bgc{
        width: 70%;
        margin: 0 auto; 
        text-align: center;
    }
    .prog_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
    }
}

@media (max-width: 610px) {
    .bgc{
        width: 100%;
        margin: 0 auto; 
        text-align: center;
    }
    .prog_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
    }
}

.bar{
    width: 40rem;
}

progress[value]{
appearance: none;
  -webkit-appearance: none;
}
progress[value]::-webkit-progress-value {
    background-color: #ffbf00;
  }

  .cv{
    
    color: black;
    padding: 10px;
    text-decoration: none;
    background-color: white;

  }
  .centrar_btn{
    padding-bottom: 5rem;
    margin: 40px 0;
    text-align: center;
  }

  /* seccion 6 */

 
  .nav{
    
    display: flex;
    justify-content: center;
  }


  

  .grupo_img{ 
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    
  }

  @media (max-width:1250px ) {
    .grupo_img{ 
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        
      }
  }

  @media (max-width:610px ) {
    .grupo_img{ 
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        
      }
  }

  .imgale{
    width: 100%;
    height: 35rem;
    
  }

  .colum{
    margin: 10px;
  }
  
 
/*seccion 7 */

.seccion7{
    
    background-color:#ffbf00;
    height: 75rem;
}

.grupo_cont{
    width: 50%;
    line-height: 2.3;
    text-align: start;
}


.grupo_cont svg{
margin-top: 15px;
}


.grupo_form{
    width: 70%;
    margin: 10rem auto;
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    .grupo_form{
        
        
        margin: 0rem auto;
        padding-top: 10rem;
        
        display: flex;
        flex-direction: column;
        
        
    }
    .seccion7{
    
        background-color:#ffbf00;
        height: auto;
        padding-bottom: 10rem;
        
    }
    .grupo_cont{
        width: 100%;
        line-height: 2.3;
        text-align: center;
        align-items: center;
    }
    
}

@media (max-width: 610px) {
    .grupo_form{
        width: 100%;
        margin: 10rem auto;
        padding-top: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        
    }
    .grupo_cont{
        width: 50%;
        line-height: 2.3;
        text-align: center;
    }
}


.grupo_form h1{
    font-size: 5rem;
}


.form{
    display: flex;
    flex-direction: column;
    
}
 
.form input{
    width: 45rem;
    border: none;
    padding: 10px;
    background-color: #ffbf00;
}

.form label{
    margin-top: 10px;
}

.form textarea{
    border: none;
    height: 10rem;
    background-color: #ffbf00;
}


.btn4{
    width: 10rem;
    color: white;
    background-color: black;
    padding: 1rem;

}

/*footer*/

.conteinerf{
    height: 13rem;
    background-color: black;
}

.grupo_f{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    width: 70%;
}



.grupo_f h4{
    color: white;
}

.spn_f{
    color: #ffbf00;
    border-bottom: solid 1.5px;
    border-color: #ffbf00;
}

